.to-do-box {
  padding: 10px;
  margin: 40px;
  background-color: #eeb5b5;
  border-radius: 33px;
  width: 580px;
  height: 800px;
  margin-left: 40px;
}

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-task h2 {
  margin-right: 20px;
}

button {
  padding: 8px;
  font-size: 14px;
  border: 2px solid #050505;
  color: black;
  background-color: #e7e7e7;
  border-radius: 10px;
  cursor: pointer;
}
